<div class="row justify-content-center">
            <h1>Update Your Contact Info</h1>
        </div>
        <div class="row justify-content-center">
            <h6>Current Email: {{email}}</h6>
        </div>
        <div class="row justify-content-center">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">List an email other users can contact you at:</label>
                  <div class="row justify-content-center">
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  <button type="submit" class="btn btn-primary mb-2">Update</button>
                </div>
                </div>
            </form> 
        </div>