 {{> navbar }}
<div class="row justify-content-center">
    <h1>Your List</h1>
</div>
<div class="row justify-content-center">
     {{!-- {{#each attraction}} --}}
    <div class="card text-center" style="width: 18rem;">
        {{!-- <img class="card-img-top"
            src="{{attractionImg}}"
            alt="Card image cap"> --}}
        <div class="card-body">
            <h5 class="card-title">Paris, France</h5>
           <h6>Eiffel Tower</h6>
           <p class="card-text">It's pointy.</p>
            {{!-- <p class="card-text">{{attractionDesc}}</p> --}}
            <p class="card-text">Dates: 03-15-21 - 04-15-21</p>
            <a href="#" class="btn btn-primary">Update Dates</a>
            <a href="#" class="btn btn-primary bg-danger border-danger">Remove</a>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                See Crew Matches
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h6>Angelia Collins</h6>
                            <p>Dates Available: 03-20-21 - 04-05-21</p>
                            <a href="#" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
</div>