 {{> navbar }}
<div class="container">
    <div class="row justify-content-center">
      <h1>Welcome</h1>
    </div>
    <div class="row justify-content-center">
      <img class="card-img-top ghosts" src="../assets/ghosts.png" alt="Card image cap">
    </div>
    <div class="row justify-content-center">
      <p>To find matches, add attractions to your list! Let's start by entering a location:</p>
    </div>
    <div class="row justify-content-center">
      <form class="form-inline searchAttractions">
        <input class="form-control mr-sm-2" id="searchbar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    
    <div class="row justify-content-center places">

   </div>

    
  </div>
  </div>
 {{> js-includes }}
  <script type="text/javascript" src="js/members.js"></script>