form.signup,
form.login {
  margin-top: 50px;
}

body{
  background-color: #34382f
}

h2, h1 {
  font-family: 'Creepster', cursive;
}

h1 {
  color: #adf906;
  margin-top: 10px;
  letter-spacing: 10px;
  font-size: 70px;
}

p{
  color: #ffffff;
}

h6 {
  color: #ffffff;
}

label {
  color: #ffffff;
}

.ghosts {
  width: 100px;
  margin-bottom: 30px;
}